.game-window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid #071952;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
}

.start-button{
    position: absolute;
    display: flex;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    animation: start-button-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.start-button:hover{
    cursor: pointer;
}

.start-button-hide{
    display: none;
}

.game-over-screen{
    width: 500px;
    height: 350px;
    background-color: #5B8FB9;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    z-index: 2;
}

.game-over-screen-activate{
    display: flex;
}

.game-over-screen-deactivate{
    display: none;
}

.game-over-title{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 900;
    font-family: "Tektur";
    color: #B6EADA;
    text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.8);
}

.game-score{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 40px;
    font-weight: 900;
    font-family: "Tektur";
    color: #B6EADA;
    text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.8);
}

.game-over-screen-button{
    width: 100%;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}

.game-over-screen-button button{
    width: 100px;
    height: 40px;
    font-weight: 900;
    border: none;
    background-color: #301E67;
    color: #B6EADA;
    font-family: "Tektur";
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.8);
}

.game-over-screen-button button:hover{
    cursor: pointer;
    color: #72FFFF;
}

@font-face{
    font-family: "Tektur";
    src: url("../../fonts/Tektur-Bold.ttf") format("truetype");
}

@keyframes start-button-animation{
    0%{
        width: 100px;
        height: 100px;
    }
    50%{
        width: 200px;
        height: 200px;
    }
    100%{
        width: 100px;
        height: 100px;
    }
}